body {
  padding-top: 70px;
  font-size: 16px;
  background-color: #FAFAFA;
}

.post-title {
  font-size: 18px;
}

.comment-headers {
  font-size: 18px;
  font-weight: bold;
}

.post-details-title {
  font-size: 20px;
  font-weight: bold;
}

.vote-score-display {
  font-size: 13px;
  font-style: italic;
}

.date-display {
  font-size: 13px;
  font-style: italic;
  margin-right: 11px;
}

.author-display {
  font-size: 13px;
  font-style: italic;
  margin-right: 11px;
}

.category-link {
  text-transform: capitalize;
}

.category-title {
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}

.sort-by-display{
  margin-right: 10px;
}
